body {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	box-sizing: border-box;
}

header h1 {
    color: red;
	text-align: center;
}

section {
	color: white;
}

section h2 {
	color: #77f;
}

footer {
	font-weight: 150;
	text-decoration: italic;
	font-size: 0.5em;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	margin: 0 auto;
	justify-content: flex-start;
	width: 100%;
}

.flex-item {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 5px;
	max-width: 50%;
	min-width: 300px;
	min-height: 300px;
	justify-content: flex-start;
	align-content: center;
}

#aboutMe {
	background-color: #330;
}

#mySkills {
	background-color: #303;
}

#myLinks {
	background-color: #033;
}
