body {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	box-sizing: border-box;
}

header h1 {
    color: red;
	text-align: center;
}

section {
	display: flex;
}

section h2 {
	color: #77f;
}

footer {
	font-weight: 900;
	font-size: 0.5em;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 auto;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-around;
}

.flex-item {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
